# Python cache
__pycache__/
*.pyc

# Temporary or junk files
.junk/
.DS_Store
.out
.whl

# Shell scripts
*.sh

# Jupyter notebooks
*.ipynb

# CSV files
*.csv

# Logs and unnecessary folders
logs/
junk/
json*/

# Data and configuration folders
data/
config/
config_lora/

# Output folders
outputs/
data_examples/*